:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 2rem;

  position: relative;

  color: rgba(2, 2, 2, 0.87);
  background-color: #fff;
}

header {
  background-color: #d9d9d9;
  position: static;
  width: 100%;
  top: 1rex;
  justify-content: space-between;
  border-radius: 6px;
}

article {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div #box {
  text-align: center;
  margin: 50px auto;
  width: 800px;
  height: 400px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  background-color: #d9d9d9;
  border-radius: 6px;
  position: static;
  width: 100%;
  top: 1rex;
  justify-content: space-between;
  text-align: left;
} 